<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report 4</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
 
    <table class="table table-hover" id="table">
        <tr>
            <th>Reservation Id</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Pay Status</th>
            <th>Reservation Status</th>
            <th>Reservation Day</th>
        </tr>
        <% reservations.forEach(function(reservation) { %>
            <tr>
                <td><%=reservation.reserve_id%></td>
                <td><%= reservation.startDate  %></td>
                <td><%= reservation.EndDate  %></td>
                <td><%=reservation.pay_status%></td>
                <td><%=reservation.reserve_status%></td>
                <td><%=reservation.reserve_date%></td>
            </tr>
          <% }); %>
    </table>
    <a href="/">Back</a>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

 